.chatcontainer {
  margin: auto;
}
.chatcontainer h1 {
  text-align: center;
  color: rgb(216, 152, 56);
}
.ChatParent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.Chat {
  display: flex;
  width: 800px;
  height: 550px;
  background-color: rgba(233, 216, 217, 0.95);
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}
.channel {
  display: flex;
  box-shadow: 2px 2px 2px 1px black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(14, 0, 0, 0.91);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dbuttons {
  background-color: black;
}
.dropdown-content a {
  color: rgb(221, 221, 221);
  font-weight: 900;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(172, 31, 97);
}

.channel:hover .dropdown-content {
  background-position: right center; /* change the direction of the change here */
  display: block;
}

.channel:hover .dropbtn {
  background-color: #3e8e41;
}

.message-container {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.message-container::-webkit-scrollbar {
  display: none;
}
#new-message-form {
  display: flex;
  margin: auto;
  position: relative;
  justify-content: center;
  width: 100%;
}

#new-message-form .inputcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60%;
  position: fixed;
  z-index: 0;
  bottom: 2%;
  overflow: hidden;
  padding: 0;
}
.input-group-btn {
  display: flex;
  justify-content: center;
  margin: auto;
}
#new-message-form .form-control {
  display: flex;
  border-width: 3px 1.5px 3px 3px;

  float: left;
  width: 80%;
}

#new-message-form .btn {
  display: flex;
  justify-content: center;
  border-width: 3px;
  background: #fd9535;
  border-radius: 8px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
    inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  width: 100px;
  height: 100%;
  font-weight: bold;
  border: solid 2px #d27d00;
}
.btn h1 {
  color: #fff;
}
#new-message-form .btn:hover {
  background-color: rgb(255, 102, 0);
  box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
}
#new-message-form .btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.bodymessage {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
.picturecontainer {
  /* display: flex;
  width: 200px;
  align-content: center;
  text-align: center;
  flex-direction: row;
  background-color: cornflowerblue;
  overflow:hidden ;
  */
  width: 180vw;
  height: 80vh;
  max-height: 60px;
  max-width: 600px;
  background: rgba(123, 186, 211, 0.6);
  position: absolute;
  left: 100px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  word-break: break-all;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.picturecontainer:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 25px solid rgba(123, 186, 211, 0.6);
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.media-object {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.media-heading {
  font-size: x-small;
  transform: rotate(-45deg);
  color: rgba(150, 12, 12, 0.9);
  font-weight: 900;
}
.sentmsgcontainer {
  width: auto;
  height: auto;
}
.media-body {
  padding-left: 20px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 900;
}

@media only screen and (max-width: 820px) {
  .chatcontainer {
    width: 100%;
    height: 100%;
  }
  .inputcontainer {
    width: 100px;
  }
  .picturecontainer {
    width: 97%;
    max-width: 210px;
  }
  #new-message-form .btn {
    width: 50px;
    height: 50px;
  }
  .btn h1 {
    font-size: small;
  }
  .Chat {
    width: 96%;
    height: 400px;
  }
  .ChatParent {
    width: 100%;
    height: auto;
  }
}
