.dashContainer{
    display: flex;
    align-items: stretch;
    margin-top: 5px;
    margin: auto ;
    flex-flow: row;
    max-width: 900px;
    border:2px solid black
}
.userD{
    display: flex;
    align-items:stretch;
    flex-flow: row;
    
}
@media only screen and (max-width: 500px){
    .dashContainer{
        width:97%;
        flex-flow: column;
        margin: auto;
        margin-left: auto;
        margin-right: auto;

    }
}