@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.Navbar{
    display: flex;
    background-image: linear-gradient(315deg, #486156 0%, #28313b 74%);
    background-blend-mode: darken;
    width: 100vw;
    display: inline-block;
    
  }
.Navbar h1{
    font-family: 'Roboto Condensed', sans-serif;
    color:cornsilk;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 7em;
    text-shadow: 2px 2px 4px rgba(240, 147, 251, 1), 5px 10px 2px rgb(65, 167, 145), 0 0 10px rgba(245, 87, 108, 1);
  }

.navContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    order:5;
}  

@media only screen and (max-width:500px) {
  .Navbar h1{
    font-size: 5em;
    width: 100%;
  }
  .Navbar 
}