.optionscontainer{
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
.optionscontainer h2{
    color: black;
}
.optionsdropdown{
    display: none;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(14, 0, 0, .85);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 8000;
}
.optionsdropdown label{
    color: rgb(221, 221, 221);
    font-weight: 900;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.bigfilterContainer {
  display: flex;
  flex-shrink: 4;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: auto;
}
.filtercontainer {
  display: flex;
  height: 180px;
  width: 200px;
  margin: auto;
  position: relative;
  margin-bottom: 5px;
  background: linear-gradient(
    120deg,
    rgba(240, 147, 251, 00.6) 0%,
    rgba(245, 87, 108, 0.6) 100%
  );
  border: 2px solid rgb(165, 165, 165);
  border-radius: 10px 10px 10px 10px;
}
.filtercontainer #personImg{
    position: absolute;
    border-radius: 50%;
    top:20%;
    right:20%;
    width:80px;
    height: 80px;
    z-index: -1;
    
} 

.labelname{
    display: flex;
    justify-content: center;
    margin:auto
}
.optionsdropdown a:hover {
    background-color: rgb(172, 31, 97);
  }
  
  .optionscontainer:hover .optionsdropdown {
    display: block;
  }
  
.optionsdropdown a:hover {background-color: rgb(172, 31, 97);}

.filtercontainer:hover {
  transform: scale(1.05);
  background-color: rgba(238, 145, 145, 0.651);
}
.filtercontainer p {
  padding: 5px;
}

.optionscontainer:hover .dropbtn {background-color: #3e8e41;}

/* Place single view */
.placesingleContainer{
    display: flex;
    width: 800px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.placesingleContainer img{
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    margin-top: 5px;
    display: flex;
    width: 400px;
}
.attributescontainer{
    margin: auto;
    padding:5px;
    margin-top: 20px;
    text-align: center;
    width: 400px;
    background:linear-gradient(120deg, rgba(240, 147, 251, 00.6) 0%, rgba(245, 87, 108, 0.6) 100%);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.placesingleContainer .attributescontainer p{
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px black;
    margin:auto;
    margin-top: 2px;
    margin-bottom: 10px;
    display: flex;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
@media only screen and (max-width: 500px){

    .placesingleContainer{
        width: fit-content;
    }
    .placesingleContainer img{
        width: 97%;
    }
    .attributescontainer{
        width: 97%;
        margin-bottom: 1px;
    }
    
}
