/* user dashboard */
.userSdashboard select{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    font-weight: 900;
    font-size: 16pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* User profile

  <div className="buttoncontainer">
                      <Link to="/chat/channels">
                        <button>{channel.name}</button>
                      </Link>
*/


/* User profile */

.user_profile_section{
    display: flex;
    justify-content: center;
    background:linear-gradient(120deg, rgba(240, 147, 251, 0.6) 0%, rgba(245, 87, 108, 0.6) 100%);
    margin:auto;
    margin-top: 5px;
    max-width: 600px;
    border-radius: 25% 10%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6)

}
.user_profile_section button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:relative;
    left: 65%;
    top: 5%;
    border: none;
    background-color: coral;
} 
.user_profile_section button:hover{
    box-shadow:
    0 0 7.5px 3.75px #fff,
    0 0 17.5px 7.5px rgb(255, 0, 106),
    0 0 17.5px 11.25px rgb(255, 136, 0);
}
.user_profile_section button:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}    
.leftright{
    display: flex;
    flex-direction:row;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px black;
    
    
}
.leftsideContainer{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.leftsideContainer img{
    display: flex;
    padding-right: 5px;
    border-radius: 60%;
    align-self: center;
    width:200px;
    height:200px;
}
.rightSideContainer{
    padding:5px;
    overflow-x:scroll;
    overflow-y:scroll;
    margin-left: 10px;
    display: flex;
}
.edituserformcontainer{
    display: flex;
}

.bottomProfileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    
}
.bottomQ{
    margin-top: 10px;
    margin-right:5px;
    margin-left: 2px;
    text-align: center;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px black;
    width: 50%;
    display: flex;
    flex-direction: column;
    background:linear-gradient(120deg, rgba(240, 147, 251, 0.6) 0%, rgba(245, 87, 108, 0.6) 100%);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    overflow-y:scroll;
}
.bottomR{
    text-align: center;
    margin-top: 10px;
    margin-left:5px;
    margin-right: 2px;
    display: flex;
    color:white;
    width: 50%;
    font-weight: 900;
    text-shadow: 1px 1px black;
    flex-direction: column;
    background:linear-gradient(120deg, rgba(240, 147, 251, 0.6) 0%, rgba(245, 87, 108, 0.6) 100%);
    border-radius: 10px 10px 10px 10px;
    overflow-y:scroll;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6)
}
.bottomR img{
    margin:auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.buttoncontainer{
    display: flex;
    flex-direction: row;
    max-width: 100px;
    margin:auto;
}
.buttoncontainer button{
    border: none;
    text-align: center;  
    justify-content: center;
    align-self: center;
    display:flex;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    height:50px;
    color: white;
    padding-top:15px;
    border-radius: 4px;
    cursor: pointer;
    border-width: 3px;
    background: #fd9535;
    border-radius: 80%;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00
}
.hideoverflow{
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

@media only screen and ( max-width: 500px){
    .user_profile_section{
        width: 97%;
        height: fit-content;
        margin-left: 5px;
        margin-right: 5px;
    }
    .buttonProfileContainer{
        width: 370px;
        margin: auto;
    }
    .bottomR{
        width:50%;
       
    }
    .bottomQ{
        width:50%;
        
    }
}
