/* user dashboard */

.userSdashboard select{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    font-weight: 900;
    font-size: 16pt;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* User profile */

.user_profile_section{
    display: flex;
    justify-content: center;
    background:linear-gradient(120deg, rgba(240, 147, 251, 00.6) 0%, rgba(245, 87, 108, 0.6) 100%);
    margin:auto;
    max-width: 800px;
    

}
.leftright{
    display: flex;
    flex-direction:row;
    
}
.leftsideContainer{
    display: flex;
    padding: 5px;
}
.leftsideContainer img{
    width:100%;
    height: 100%;
}
.rightSideContainer{
    padding:5px;
    margin-left: 10px;
    display: flex;
}
.edituserformcontainer{
    display: flex;
}
