.questioncontainer{
  
  display: flex;
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}
.questioncontainer form{
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.questioncontainer form label{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
  }

.questioncontainer form label:hover{
    background-color: #f0f0f0;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -ms-transition:all 0.2s;
    -o-transition:all 0.2s;
  }  

.questioncontainer form input{
    display:flex;
    margin: auto;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}  
.questioncontainer form select{
    display:flex;
    margin: auto;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;

}
.questioncontainer form textarea{
  width: 100%;
}
.questioncontainer form button{
    display:flex;
    margin: auto;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.lines{
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 595px;
    margin-left: 40px;
}

@media only screen and (max-width: 500px){
  .questioncontainer{
    width: 100%;
    height: 100%;
  }
  .questioncontainer form{
    width: 70%;
  }
  
}