body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.7)
    ),
    linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  display: inline;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: Helvetica;
}

form div {
  margin: 1em;
  display: inline-block;
}
.login_signupContainer {
  display: flex;
  justify-content: center;
}
.leafMap {
  display: flex;
  height: 500px;
  width: auto;
}

.openPopup,
.you_are_here {
  cursor: pointer;
  background: white;
  width: 10rem;
  text-align: center;
}

.single_user_img {
  width: 10em;
  height: auto;
}

/* Load Spinner */
.loader_div {
  background: url("./loginImage.jpeg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border-top: 16px solid yellow;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
